{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Web Golang</title>
  </head>
  <body>
    <h1 class="text-[10px] text-gray-500">header</h1>
    <main>{{template "content" .}}</main>
    <footer class="text-[10px] text-gray-500">
      &copy; Selly Supriyatin 2025
    </footer>
  </body>
</html>
{{end}}
